/* general */
body, h1, h2, h3 {
	margin: 0; 
	padding: 0;
    font-family: Stencil Std, Blippo, fantasy;
}
body {
    background-color: #FDF6A7;
}
/* banner */
.intro>header[role] {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    padding: 3em;
    background-image: url('./images/zenGarden.png');
    background-attachment: fixed;
    color: white;
    font-size: 1.5em;
    align-items: center;
}
.intro>header>h1 {
    font-size: 3em;
}
.intro>.summary a {
    border: solid #c4bb69 2px;
    background-color: #fdf59a;
    color: black;
    margin-left: 3px;
    padding: 5px 8px 0 8px;
    font-size: .7em;
}
/* main */
.summary, .preamble, .explanation, .participation, .benefits, .requirements {
    margin: 0 35vw 0 5vw;
    border-bottom: solid 3px black;
}
.summary {
    font-style: italic;
    font-weight: lighter;
    font-size: 1.3em;
}
h3 {
    font-size: 1.5em;
    margin: 1em 0;
    text-decoration: underline;
}
/* footer */
.requirements>p:last-child {
    background: url('./images/woodsignbg.png') no-repeat center;
    background-size: 85vw 25vh;
    width: 90vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
}
.requirements>p:last-child>a {
    margin-left: .2em;
    color: white;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #7B835F;
}
footer>* {
    margin: 0 2px;
    color: white;
}
/* sidebar */
.sidebar {
    margin: 43vh 5vw 0 0;
	position: absolute; 
	top: 0; 
	right: 0;
}
.sidebar>.wrapper>div {
    border: solid #8D8451 3px;
    padding: 2em;
    margin-top: 2em;
}
.sidebar>.wrapper h3 {
    text-decoration: underline;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar a {
    text-decoration: none;
    color: green;
}